NODE_ENV=development
RABBITMQ_URL=amqp://localhost:5672
PAYMENT_SERVICE_URL=http://localhost:3004
ORDER_SERVICE_URL=http://localhost:3003
INTERNAL_API_KEY=x456ythjenRQWP90hfhrnsagbrgfh
LOG_LEVEL=info
PORT=3006
