NODE_ENV=development
PORT=3003
MONGO_URI=mongodb://localhost:27017/order_db
RABBITMQ_URL=amqp://localhost:5672
PAYMENT_SERVICE_URL=http://localhost:3004
PRODUCT_SERVICE_URL=http://localhost:3002
CUSTOMER_SERVICE_URL=http://localhost:3001
INTERNAL_API_KEY=change-me-to-a-long-random-string
LOG_LEVEL=info
